 /* CSS reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* End of CSS reset */

/**
 * Cpsmetics styles just so you can see the
 * accordion on screen properly
 */
body {
	font-family: "Fira code", "Trebuchet Ms", Verdana, sans-serif;
}

header {
	padding: 1em;
	margin-bottom: 1em;
	text-align: center;
}

header > h1 {
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

main {
	display: block;
	width: 100%;
}

@media screen and (min-width: 48em) {
	main {
		width: 70%;
		margin: 0 auto;
	}
}

p {
	font-family: Georgia, Helvetica, sans-serif;
	font-size: 1.2em;
	line-height: 1.618;
	margin: 0.5em 0;
}

a:link,
a:visited,
a:active {
	color: #1560bd;
}

/* End of Cosmetic styles */

/**
 * The accordion panel is shown by default
 * and is hidden when the page loads the
 * JavaScript code.
*/
.accordion__panel {
	padding: 0 18px;
	background-color: #ffffff;
	overflow: hidden;
	transition: 0.6s ease-in-out;
	margin-bottom: 1em;
}

/* We hide it with JavaScript */
.accordion__panel.panel-js {
	max-height: 0;
	opacity: 0;
}

/**
 * In the spirit of Progressive Enhancement
 * the accordion button and span elements are
 * added to the HTML via JavaScript, therefore,
 * by default all selectors regarding the button
 * and span elements will only work when the user
 * has a JavaScript enabled browser.
*/

/**
 * This removes the inner border in Firefox
 * browser when the button recieves focus.
 * The selector is take from:
 *
 * https://snipplr.com/view/16931
 *
 */ 
.accordion__title > button::-moz-focus-inner {
	border: none;
}

.accordion__title > button {
	color: #444444;
	background-color: #dddddd;
	padding: 18px;
	text-align: left;
	width: 100%;
	border-style: none;
	outline: none;
	transition: 0.4s;
}

.accordion__title > button > span {
	font-size: 1.5em;
}

/* The .active is dynamically added via JavaScript */
.accordion__title.active > button,
.accordion__title > button:hover {
	background-color: #bbbbbb;
}

.accordion__title > button:after {
	content: "\02795"; /* plus sign */ 
	font-size: 13px;
	color: #777777;
	float: right;
	margin-left: 5px;
}

/**
 * When the accordion is active we change
 * the plus sign to the minus sign.
 */
.accordion__title.active > button:after {
	content: "\02796";  /* minus sign */ 
}

/**
 * When the user toggle to show the accordion
 * we increase its height and change the opacity.
*/
.accordion__panel.show {
	opacity: 1;
	max-height: 500px;
}
/* End of accordion styles */

/* Accordion styles */
.accordion__title.focus {
	outline: 2px solid #79adfb;
}

.accordion__title.focus > button {
	background-color: #bbbbbb;
}

/**
* Print styles (Just in case your users
* decide to print the accordions content)
*/
@media print {
	.accordion__panel.panel-js {
		opacity: 1;
		max-height: 500px;
	}

	.accordion__title button {
		font-size: 0.7em;
		font-weight: bold;
		background-color: #ffffff;
	}

	.accordion__title button:after {
		content: ""; /* Delete the plus and minus signs */
	}
}
/* End of print style sheets* /
