body {
	width: 50%;
	margin: 0 auto;
}

/* This is for tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

/* This is the tooltip text */
.tooltip .tooltiptext {
	position: absolute;
	bottom: 125%;
	left: 50%;
	visibility: hidden;
	z-index: 1;

	/* Cosmetics */
	color: #fff;
	background-color: #555;
	width: 120px;
	text-align: center;
	padding: 5px 0;
	margin-left: -60px;
	border-radius: 6px;
	opacity: 0;
	transition: opacity 1s;
}

.tooltip .tooltiptext::after {
	position: absolute;
	content: "";

	/* Move it to the center */
	top: 100%;
	left: 50%;

	/* This creates the indicators */
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent;
}

/**
 * Show the tooltip when you mouse over the
 * tooltip container
 */
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
=======
body {
	width: 50%;
	margin: 0 auto;
}

/* This is for tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

/* This is the tooltip text */
.tooltip .tooltiptext {
	position: absolute;
	bottom: 125%;
	left: 50%;
	visibility: hidden;
	z-index: 1;

	/* Cosmetics */
	color: #fff;
	background-color: #555;
	width: 120px;
	text-align: center;
	padding: 5px 0;
	margin-left: -60px;
	border-radius: 6px;
	opacity: 0;
	transition: opacity 1s;
}

.tooltip .tooltiptext::after {
	position: absolute;
	content: "";

	/* Move it to the center */
	top: 100%;
	left: 50%;

	/* This creates the indicators */
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent;
}

/**
 * Show the tooltip when you mouse over the
 * tooltip container
 */
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
