
main {
	width: 50em;             /* 50 * 16 = 800px */
	margin: 0 auto;          /* Take it to the center of the page */
	background-color: #ccc;  /* Silver */
	padding: 1.5em;          /* Internal spacing */ 
	display: block;          /* For Internet Explorer */
}

main > h1 {
	text-align: center;       /* You get this right */
}

.loader {
	border: 16px solid #f3f3f3;     /*  Light gray */
	border-top: 16px solid #48d1cc; /*  The border top will be the color of the spinner */
	border-radius: 50%;             /*  Make it curve */
	width: 120px;                   /*  The width of the loader */
	height: 120px;                  /*  The height is necessary since the div has no content */
	/*
	   1. animation-name
	   2. animation-duration
	   3. animation-timing-funtion
	   4. animation-iteration-count
	*/
	            /*1*/ /*2*/  /*3*/   /*4*/
	animation: spinner 2s    linear  infinite;          /* Other browser that have animation implemented */
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);   /* Start from 0 degrees  */
	}
	100% {
		transform: rotate(360deg); /* End at 100 degrees  */
	}
}